{% extends 'layout.html' %}

{% load static %}
{% load avatar badges %}
{% load martortags %}

{% block page_title %}
  {{ user.full_name }}'s Profile
{% endblock %}

{% block header %}
  <div class="bg-light py-3 mb-3 border-bottom">
    <div class="container">
      <div class="row col-md-10 mx-auto">
        <div class="col-auto my-auto">
          {% avatar %}
        </div>
        <div class="col">
          <h2>
            {{ user.full_name }}
          </h2>
          <p>{{ user.nickname }}</p>
          {% if user.homepage != "" %}
            <a href="{{ user.homepage }}">{{ user.homepage }}</a>
          {% endif %}
          {% if user == request.user %}
            <p><a href="{% url 'bid_main:profile' %}">Edit profile</a></p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block body %}
  <style>
    .social-badge {
      height: 2rem;
      display: flex;
      align-items: center;
    }

    .icon {
      font-family: glyph;
      font-size: 1.3rem;
      text-indent: 0;
      color: #fafafa;
      padding-right: 0.5rem;
    }
  </style>
  <section class="my-3">
    <div class="d-flex justify-content-center flex-wrap">
      {% if user.irc_nick %}
        <a class="social-badge badge badge-dark m-2" href="irc://chat.freenode.net/{{ user.irc_nick }},isnick"><span
          class="font-weight-bold" style="font-size: 1.2rem">#</span>{{ user.irc_nick }}</a>
      {% endif %}
      {% if user.matrix_nick %}
        <a href="https://webchat.kde.org" class="social-badge badge badge-primary m-2">{{ user.matrix_nick }}</a>
      {% endif %}
      {% if user.mastodon_nick %}
        <a class="social-badge badge badge-info m-2" href="{{ user.mastodon_link }}" rel="me nofollow">
          <span class="icon" aria-hidden="true">m</span>
          {{ user.mastodon_nick }}
        </a>
      {% endif %}
      {% if user.twitter_nick %}
        <a class="social-badge badge badge-primary m-2" href="https://twitter.org/{{ user.twitter_nick_link }}"
           rel="me nofollow">
          <span class="icon" aria-hidden="true">T</span>
          {{ user.twitter_nick }}
        </a>
      {% endif %}
      <a class="social-badge badge badge-danger m-2" href="https://invent.kde.org/{{ user.nickname }}"
         rel="nofollow">
        Gitlab
      </a>
    </div>

    <div class="mt-3">
      {{ user.bio | escape | safe_markdown }}
    </div>

    {% if user.liberapay_nick != "" %}
      <h3>Funding</h3>
      <a href="https://liberapay.com/{{ user.liberapay_nick }}">
        <img src="https://liberapay.com/assets/liberapay/logo-v2_black-on-yellow.svg" class="img-fluid text-center">
      </a>
    {% endif %}

    <h3>{{ user.full_name }}'s Badges</h3>
    {% with badges=user.public_badges %}
      {% if badges %}
        <ul class="badges d-flex">
          {% for badge in badges %}
            <li class="badge {{ badge.name }}" title="{{ badge.description }}">
              {% if badge.link %}
                <a href="{{ badge.link }}" target="_blank">
                  {% if badge.badge_img %}
                    <img class="img-responsive" src="{{ badge.badge_img.url }}" width="100" height="100"
                         alt="{{ badge.description }}"/>
                    <br/>
                  {% endif %}
                  <span class="badge-label">{{ badge.label }}</span>
                </a>
              {% else %}
                <span class="nolink">
                  {% if badge.badge_img %}
                    <img class="img-responsive" src="{{ badge.badge_img.url }}" width="100" height="100"
                         alt="{{ badge.description }}"/>
                    <br/>
                  {% endif %}
                  <span class="badge-label">{{ badge.label }}</span>
                </span>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
        <p>
          {{ user.full_name }} has {{ badges|length }} public badge{{ badges|pluralize }}.
        </p>
      {% else %}
        <p>
          {{ user.full_name }} doesn't have any badges
        </p>
      {% endif %}
    {% endwith %}
  </section>
{% endblock %}
