{% extends 'layout.html' %}
{% load trans from i18n %}
{% load static %}
{% block page_title %}
  Register your KDE Account
{% endblock %}
{% block body %}
  <h1>Get Your Own KDE Accout</h1>
  <div class="alert alert-warning">
    If you already have a identity.kde.org, you should <a href="{% url 'bid_main:ldap-auth' %}">import your account
    instead</a>.
  </div>
  <form role="register" method="POST" name="register_user_form">
    {% csrf_token %}
    <div class="form-group">
      <!-- First name input-->
      <label for="{{ form.first_name.id_for_label }}">First Name</label>
      {{ form.first_name }}
      {{ form.first_name.errors }}
    </div>

    <div class="form-group">
      <!-- Last name input-->
      <label for="{{ form.last_name.id_for_label }}">Last Name</label>
      {{ form.last_name }}
      {{ form.last_name.errors }}
    </div>

    <div class="form-group">
      <!-- Email input-->
      <label for="{{ form.email.id_for_label }}">Email</label>
      {{ form.email }}
      {{ form.email.errors }}
    </div>

    <div class="form-group">
      <!-- Nickname input-->
      <label for="{{ form.nickname.id_for_label }}">Username</label>
      {{ form.nickname }}
      {{ form.nickname.errors }}
    </div>

    <div class="form-check form-group mt-2">
      {{ form.agree_privacy_policy }}
      <label class="ml-2 form-check-label" for="{{ form.agree_privacy_policy.id_for_label }}">
        I have read and agree to the <a href='https://kde.org/privacypolicy' target='_blank'>Privacy Policy</a>
      </label>
      {{ form.agree_privacy_policy.errors }}
    </div>

    <p>We will send you an email with instructions to set a password.</p>

    {{ form.non_field_errors }}

    <button class="btn btn-success" id="register">Create Account</button>
    <hr/>
    <div class="bid-links"><a href="{% url 'bid_main:login' %}">Already have an account?</a></div>
  </form>
{% endblock %}
