
{% extends 'errors/layout.html' %}
{% block page_title %}Page Not Found{% endblock %}
{% block errorbody %}
<h1>Page Not Found</h1>
<p>The page you tried to reach does not exist.</p>
<p>Try <a href="{% url 'bid_main:index' %}">the front page</a> instead.</p>{% endblock %}