.form-group {
  textarea {
    display: block;
    width: 100%;
  }
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  align-self: stretch;

  a {
    margin: 0.5rem auto;
  }
}
